<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout.html :: page">
<head>
    <title></title>
</head>
<body>
<div th:fragment="content">
    <script defer type="text/javascript" src="static/js/add-to-cart.js"></script>
    <div class="icons">
        <a class="btn btn-success" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="category" th:each="categoryProducts :${categorymap}">
        <div class="card">
            <strong th:text="${categoryProducts.getKey().name}">Category Title</strong>
        </div>
        <div id="products" class="row">
            <div class="col col-sm-12 col-md-6 col-lg-4" th:each="product : ${categoryProducts.getValue()}">
                <div class="card" th:object="${product}" th:data-id="${product.id}">
                    <img class="" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + *{id} + '.jpg'" alt=""/>
                    <div class="card-header">
                        <h4 class="card-title" th:text="*{name}">Product name</h4>
                        <p class="card-text" th:text="*{description}">Product description... </p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="lead" th:text="*{getPrice()}">100 USD</p>
                        </div>
                        <div class="card-text">
                            <a class="btn btn-success" href="#"><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>